-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "admin" (
    "id_admin" VARCHAR(5) NOT NULL,
    "nama_admin" VARCHAR(30) NOT NULL,
    "username" VARCHAR(20) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_pkey" PRIMARY KEY ("id_admin")
);

-- CreateTable
CREATE TABLE "pengguna" (
    "id_pengguna" VARCHAR(6) NOT NULL,
    "nama_pengguna" VARCHAR(40) NOT NULL,
    "no_hp" VARCHAR(15) NOT NULL,
    "alamat" VARCHAR(80) NOT NULL,
    "email" VARCHAR(40) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "foto" VARCHAR(255),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pengguna_pkey" PRIMARY KEY ("id_pengguna")
);

-- CreateTable
CREATE TABLE "hewan" (
    "id_hewan" VARCHAR(6) NOT NULL,
    "id_pengguna" VARCHAR(6) NOT NULL,
    "nama_hewan" VARCHAR(30) NOT NULL,
    "jenis" VARCHAR(20) NOT NULL,
    "usia" INTEGER NOT NULL,
    "kebutuhan_khusus" VARCHAR(50),

    CONSTRAINT "hewan_pkey" PRIMARY KEY ("id_hewan")
);

-- CreateTable
CREATE TABLE "layanan" (
    "id_layanan" VARCHAR(5) NOT NULL,
    "nama_layanan" VARCHAR(30) NOT NULL,
    "harga" INTEGER NOT NULL,
    "deskripsi" VARCHAR(150) NOT NULL,

    CONSTRAINT "layanan_pkey" PRIMARY KEY ("id_layanan")
);

-- CreateTable
CREATE TABLE "pemesanan" (
    "id_pemesanan" VARCHAR(8) NOT NULL,
    "id_hewan" VARCHAR(6) NOT NULL,
    "id_layanan" VARCHAR(5) NOT NULL,
    "tgl_masuk" DATE NOT NULL,
    "tgl_keluar" DATE NOT NULL,
    "status" VARCHAR(20) NOT NULL,
    "catatan" VARCHAR(255),
    "foto_kondisi" VARCHAR(255),

    CONSTRAINT "pemesanan_pkey" PRIMARY KEY ("id_pemesanan")
);

-- CreateTable
CREATE TABLE "pembayaran" (
    "id_pembayaran" VARCHAR(8) NOT NULL,
    "id_pemesanan" VARCHAR(8) NOT NULL,
    "tanggal_bayar" DATE NOT NULL,
    "jumlah_bayar" INTEGER NOT NULL,
    "metode" VARCHAR(50) NOT NULL,
    "bukti_bayar" VARCHAR(255),

    CONSTRAINT "pembayaran_pkey" PRIMARY KEY ("id_pembayaran")
);

-- CreateTable
CREATE TABLE "notifikasi" (
    "id_notifikasi" TEXT NOT NULL,
    "userId" TEXT,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "type" TEXT NOT NULL,
    "link" TEXT,

    CONSTRAINT "notifikasi_pkey" PRIMARY KEY ("id_notifikasi")
);

-- CreateTable
CREATE TABLE "accounts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "verification_tokens" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "admin_username_key" ON "admin"("username");

-- CreateIndex
CREATE UNIQUE INDEX "pengguna_email_key" ON "pengguna"("email");

-- CreateIndex
CREATE UNIQUE INDEX "accounts_provider_providerAccountId_key" ON "accounts"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_sessionToken_key" ON "sessions"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_token_key" ON "verification_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_identifier_token_key" ON "verification_tokens"("identifier", "token");

-- AddForeignKey
ALTER TABLE "hewan" ADD CONSTRAINT "hewan_id_pengguna_fkey" FOREIGN KEY ("id_pengguna") REFERENCES "pengguna"("id_pengguna") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pemesanan" ADD CONSTRAINT "pemesanan_id_hewan_fkey" FOREIGN KEY ("id_hewan") REFERENCES "hewan"("id_hewan") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pemesanan" ADD CONSTRAINT "pemesanan_id_layanan_fkey" FOREIGN KEY ("id_layanan") REFERENCES "layanan"("id_layanan") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pembayaran" ADD CONSTRAINT "pembayaran_id_pemesanan_fkey" FOREIGN KEY ("id_pemesanan") REFERENCES "pemesanan"("id_pemesanan") ON DELETE CASCADE ON UPDATE CASCADE;

